<div class="label roboto-condensed-upper">
    <span>{{pointsLabel}}</span>
    {{#if isEditable}}
    <a class="config-button" data-action="hitPoints" data-tooltip="DND5E.HitPointsConfig" aria-label="{{ localize 'DND5E.HitPointsConfig' }}">
        <i class="fas fa-cog"></i>
    </a>
    {{/if}}
</div>
<div class="meter sectioned {{castType}}-points">
    <div class="progress {{castType}}-points {{tempmaxSign}}" role="meter" aria-valuemin="0" aria-valuenow="{{value}}"
        aria-valuemax="{{ariaMax}}" style="--bar-percentage: {{pct}}%">
        <div class="label">
            <span class="value">{{value}}</span>
            <span class="separator">&sol;</span>
            <span class="max">{{effectiveMax}}</span>
            {{#if tempmax}}
            <span class="bonus">{{bonus}}</span>
            {{/if}}
        </div>
        <input type="text" name="system.powercasting.{{castType}}.points.value" data-dtype="Number" placeholder="0"
            value="{{value}}" hidden>
    </div>
    <div class="tmp">
        <input type="text" name="system.powercasting.{{castType}}.points.temp" data-dtype="Number"
            placeholder="{{ localize 'DND5E.TMP' }}" value="{{temp}}">
    </div>
</div>
