<section class="flexcol" data-application-part="config">
  <fieldset class="card">
    <div class="form-group">
      <label for="sw5e-starship-space-speed">{{spaceSpeedLabel}}</label>
      <div class="form-fields">
        <input
          id="sw5e-starship-space-speed"
          name="sw5e-starship-space-speed"
          type="text"
          value="{{spaceSpeedValue}}"
          placeholder="{{derivedSpaceSpeed}}"
        />
        <span class="units">{{units}}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="sw5e-starship-turning-speed">{{turningSpeedLabel}}</label>
      <div class="form-fields">
        <input
          id="sw5e-starship-turning-speed"
          name="sw5e-starship-turning-speed"
          type="text"
          value="{{turningSpeedValue}}"
          placeholder="{{derivedTurningSpeed}}"
        />
        <span class="units">{{units}}</span>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="dialog-button" data-action="reset-derived">
        {{resetDerivedLabel}}
      </button>
    </div>
  </fieldset>

  <fieldset class="card">
    <legend>{{travelSpeedLegend}}</legend>
    <div class="form-group">
      <label for="sw5e-starship-travel-speed">{{travelSpeedLabel}}</label>
      <div class="form-fields">
        <input
          id="sw5e-starship-travel-speed"
          name="system.attributes.travel.speeds.air"
          type="text"
          value="{{travelSpeedInput}}"
          placeholder="{{travelSpeedPlaceholder}}"
        />
        <span class="units">{{travelSpeedUnits}}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="sw5e-starship-travel-pace">{{travelPaceLabel}}</label>
      <div class="form-fields">
        <input
          id="sw5e-starship-travel-pace"
          name="system.attributes.travel.paces.air"
          type="text"
          value="{{travelPaceInput}}"
          placeholder="{{travelPacePlaceholder}}"
        />
        <span class="units">{{travelPaceUnits}}</span>
      </div>
    </div>
  </fieldset>
</section>
