{{!-- Blaster Charges --}}
    {{#if (or (eq system.type.value "simpleBL") (eq system.type.value "martialBL") (eq system.type.value "exoticBL"))}}
    <div class="form-group">
        <label>{{ localize "SW5E.Charges" }}</label>
        <div class="form-fields">
            <input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number"> / {{system.flags.sw5e.reload}}
        </div>
    </div>

    {{!-- Reload Button --}}
    <div class="form-group">
        <label></label>
        <div class="form-fields">
            <button type="button" class="reload-blaster" data-item-id="{{_id}}"><i class="fas fa-redo"></i> {{ localize "SW5E.Reload" }}</button>
        </div>
    </div>
    {{/if}}
